@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body {
    background-image: url("/static/img/pokemon2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

form {
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 80px;
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: block;
    margin-bottom: 5px;
}

input[type="password"] {
    color: white;
    background: transparent;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

input[type="email"] {
    color: white;
    background: transparent;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

#btn {
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

#btn button {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(92,23,149,1) 57%, rgba(255,0,230,1) 100%);
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: #fff;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

#btn button:hover {
    background: linear-gradient(90deg, rgba(228,23,230,1) 0%, rgba(92,23,149,1) 56%, rgba(2,0,36,1) 100%);
}